* {
  box-sizing: border-box;
}

body,
.proficiencies {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

nav {
  background-color: #ff6b0f;
}

nav .navbar-nav a:hover {
  color: black;
  text-decoration: underline;
}

header {
  box-shadow: 0px 1px 10px #999;
}

/* add fun rainbow effect on hover */
nav .name:hover {
  color: transparent;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 500ms ease;
}

.company-location,
.edu-location {
  font-size: 0.7rem;
}

.contact-card {
  font-size: 1rem;
}

.contact-card,
.prof-card,
.hobbies-card,
.section-title {
  background-color: #ff6b0f;
}

.card-subtitle {
  color: #ff6b0f !important;
}

.contact-card i {
  font-size: 1.8rem;
}

.card-title {
  font-size: 0.9rem;
}

.work-summary {
  font-size: 0.8rem;
}

.container {
  max-width: 1200px;
}

.prof-card,
.hobbies-card {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .container {
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    margin: 2rem auto;
  }

  .contact-card {
    font-size: 1.2rem;
  }

  .contact-card i {
    font-size: 1.8rem;
  }
}

@media print {
  html {
    font-size: 62.5%;
    max-width: 8.5in;
  }

  nav {
    display: none !important;
  }

  .name {
    font-size: 5.5rem;
  }

  .contact-card,
  .prof-card,
  .hobbies-card,
  .section-title {
    background-color: #dadcde;
  }

  .card-subtitle {
    color: black !important;
  }
}
