* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

/* add fun rainbow effect on hover */
.name:hover {
  color: transparent;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 500ms ease;
}

.company-location,
.edu-location {
  font-size: .7rem;
}

.contact-card {
  font-size: 1rem;
}

.contact-card,
.section-title {
  background-color: #ff6b0f;
}

.card-subtitle {
  color: #ff6b0f !important;
}

.contact-card i {
  font-size: 1.8rem
}

.card-title {
  font-size: .9rem;
}

.work-summary {
  font-size: .8rem;
}

.container {
  max-width: 1200px;
}

@media screen and (min-width: 992px) {
  .container {
    box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, 0.15);
  }

  .contact-card {
    font-size: 1.2rem;
  }

  .contact-card i {
    font-size: 1.8rem;
  }
}

@media print {
  html {
    font-size: 62.5%;
    max-width: 8.5in;
  }

  .name {
    font-size: 5.5rem;
  }

  .contact-card,
  .section-title {
    background-color: #DADCDE;
  }

  .card-subtitle {
    color: black !important;
  }
}