:root {
  --orange: #ff8f4a;
  --neon-orange: #ff6b0f;
  --almost-white: #fefefe;
  --grey-black: #383838;
}

* {
  box-sizing: border-box;
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
  margin: 0 auto;
  /* set max width no larger than 1200px as the page looks too sparse and project cards grow too big */
  max-width: 1200px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1.4;
  background-color: var(--almost-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--grey-black);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 96%;
  margin: 3rem auto;
  padding: 0 2.5rem;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

nav ul li {
  margin: .35rem;
}

nav a {
  text-decoration: none;
  border: none;
  color: var(--orange);
  font-size: 2.7rem;
}

nav a:hover {
  border-bottom: 1.5px solid var(--grey-black);
  padding-bottom: 1.5px;
  color: var(--neon-orange);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 96%;
  margin: 2.5rem auto 0 auto;
  padding: 2.5rem;
}

section {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2.5rem 0 5rem 0;
}

i {
  position: relative;
  top: 1rem;
  margin-top: .5rem;
  margin-left: 1.5rem;
  margin-right: 2rem;
  font-size: 4rem;
  width: 5rem;
  height: 4rem;
  text-align: center;
}

/* update the position of the last icon so it aligns better with the text */
i:last-child {
  position: relative;
  top: .2rem;
}

footer {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

footer p {
  margin: 1rem;
  color: grey;
}

/* add fun rainbow effect on hover */
footer p:hover {
  color: transparent;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  transition: 500ms ease;
}

.section-header {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-align: center;
  border-bottom: solid 1.5px;
  padding-bottom: 5px;
  margin-bottom: 2.5rem;
}

/* container for project cards */
.flex-container { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: flex-basis 500ms linear;
  margin: 0 1%;
}

.showcase-container {
  flex: 1 0 20%;  
}

.card-container {
  flex: 1 0 80%;
}

/* set cards in other projects to 20% */
.card-container .card {
  flex: 1 0 20%;
}

.card {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  /* this is needed for abosolute position of ribbon */
  position: relative;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  background-color: var(--almost-white);
  margin: 2% 2%;
}

.card[data-project-status] .card-desc{
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.5rem;
}

/* add slight zoom/pop effect on card hover */
.card[data-project-status]:hover {
  transform: scale(1.04);
}

/* add ribbon to card */
.card[data-project-status]::before {
  position: absolute;
  content: '';
  background: var(--neon-orange);
  height: 3rem;
  width: 3rem;
  top: 2.1rem;
  right: -.5rem;
  transform: rotate(45deg);
  z-index: -1;
}

.card[data-project-status]::after {
  position: absolute;
  content: attr(data-project-status);
  top: 1rem;
  right: -1.2rem;
  padding: .5rem;
  width: 12rem;
  background: var(--neon-orange);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--almost-white);
  text-align: center;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

/* project card image */
.card img {
  flex: 1 0 80%;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  object-fit: cover;
}

.card .card-header {
  flex: 1 0 10%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -.5rem;
}

.card .card-desc {
  flex: 1 0 10%;
}

.card .card-desc,
.card.contact,
.card.resume {
  padding: 1.5rem;
  text-align: center;
}

.card.contact {
  text-align: left;
  font-size: 2rem;
  color: var(--grey-black);
  margin: 1%;
}

.justify-center {
  justify-content: center;
}

.top-line {
  width: 100%;
  height: .5rem;
  background-color: var(--neon-orange);
}

.headshot {
  width: 100%;
  max-width: 300px;
  border-radius: 2%;
}

.name {
  padding-top: 1.5rem;
  color: var(--grey-black);
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.section-header {
    margin: 0;
}

#about-me p {
  margin-top: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

#about-me .headshot {
  display: none;
}

#contact a {
  border-bottom: 1px solid var(--grey-black);
}

#resume {
  margin-left: 1%;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

  /* adjust header for larger screens */
  header {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    background-color: var(--neon-orange);
    box-shadow: 0px 1px 10px #999;
  }

  nav {
    margin-left: auto;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2.2rem;
  }

  nav ul li {
    margin: 0 1.2rem;
  }

  nav a {
    font-size: 1.5rem;
    color: var(--grey-black)
  }

  nav a:hover {
    color: black;
  }

  footer p {
    margin: 1rem 35%;
  }

  /* hide headshot and top-line */
  header .headshot {
    display: none;
  }

  .top-line {
    display: none;
  }

  /* on tablets, set card containers both to 100% and as rows*/
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 40%;
  }

  .card.showcase {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .name {
    padding-top: 0;
    margin-bottom: 0;
  }

  .section-header {
    text-align: left;
    align-items: flex-start;
    width: 100%;
  }

  .card.contact {
    max-width: 45%;
  }
  
  #about-me .headshot {
    display: inline;
    float: left;
    width: 12em;
    margin-right: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.15);
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {

  #projects {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .flex-container {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .card.showcase {
    height:80%;
  }

  .card.contact {
    max-width: 40%;
  }
}